
@{
    ViewBag.Title = "Query";
}

<h2>Query</h2>


<button id="Carica1" class="btn btn-primary mt-3"> Totali consegne</button>
<div class="container">

    <div class="row" id="List1">

    </div>
</div>


<input type="text" name="name" value="" id="Input" class="form-control mt-3" />
<button id="Cerca">Cerca</button>

<div class="container">

    <div class="row" id="List">

    </div>

</div>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            //Cerca Prenotazione

            $("#Cerca").click(function () {
                var valore = $("#Input").val()
                $.ajax({
                    method: "POST",
                    url: "CercaPrenotazione",
                    data: { CodiceFiscale: valore },
                    success: function (data) {
                        console.log(data)
                        $.each(data, function (i, v) {
                            var licurrent =
                                "<table class='table table-bordered border-dark bg-body mt-3'> <thead> <tr>  <th scope='col'>IdPrenotazione</th><th scope='col'>DataPrenotazione</th><th scope='col'>Anno</th><th scope='col'>Dal</th><th scope='col'>Al</th><th scope='col'>Tariffa</th><th scope='col'>Caparra</th><th scope='col'>Costo spedizione</th></tr></thead> <tbody><tr><td>" + v.IdSpedizione + "</td> " +
                                "<td>" + v.IdPrenotazione + "</td> " +
                                "<td>" + v.Data1 + "</td> " +
                                "<td>" + v.Anno + "</td> " +
                                "<td>" + v.Data2 + "</td> " +
                                "<td>" + v.Data3 + "</td> " +
                                "<td>" + v.Tariffa + "</td> " +
                                "<td>" + v.Caparra + "</td></tr></tbody></table>";
                            $("#List").append(licurrent);
                        }
                        )
                    }
                })

            })

            //Totale Pensione completa

        $("#Carica1").click(function () {
            $("#List1").empty().slideToggle();
            $.ajax({
                method: "Get",
                url: "PrenotazionePensioneC",
                success: function (list) {
                    console.log(list)
                    $.each(list, function (i, v) {
                        var Tot = "<div class='col border der-dark bg-white mt-3 rounded-3 w-25'><p><strong>Numero totale prenotazioni con pensione completa:</strong> " + v.TotalePensioneComplete + "</p> </div> "
                        $("#List1").append(Tot);
                    }
                    )
                }
            });
        })



            })
    </script>

}