@using Benchmark_15.Models
@{
    ViewBag.Title = "SelectCamere";
}

<h2>SelectCamere</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Numero Camera</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Tipologia</th>
            <th scope="col">Nome</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @foreach (Camere c in Model)
    {
        <tbody>
            <tr>
                <td>@c.IdCamera</td>
                <td>@c.Descrizione</td>
                <td>@c.Tipologia</td>
                <td>@c.NomeCamera</td>   
                <td><a href="EditCamera?Id=@c.IdCamera">Modifica</a></td>
            </tr>

        </tbody>
    }
</table>
<a href="CreateCamera">Aggiungi camera</a>